.header {
  max-width: 880px;
  min-height: 32px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 7px 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

@media screen and (max-width: 896px) {
  .header {
    justify-content: space-between;
  }
}

